.root {
  display: grid;
  list-style: none;
  gap: 4mm;
}

.itemTitle {
  font-size: var(--cv-font-size-meta);
}

@media print {
  .root {
    display: block;
  }

  .root > * + * {
    margin-top: 4mm;
  }
}
