.root {
}

.layoutContainer {
  padding-block: 0;
}

.detailSectionContent {
  display: grid;
  max-width: var(--content-max-wide);
}

@media (min-width: 48rem) {
  .detailSectionContent {
    padding-left: var(--space-3);
  }
}

@media (min-width: 48rem) {
  .layoutContainer {
    width: var(--container);
    margin-inline: auto;
  }
}
