.root {
  display: grid;
  gap: 3.2mm;
}

.content {
  display: grid;
  gap: 3.4mm;
}

@media print {
  .root {
    break-inside: auto;
    page-break-inside: auto;
  }

  .content {
    break-inside: auto;
    page-break-inside: auto;
  }
}
